.inter-fontMom {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

body {
    background-color: #E0E031;
}

h1, h2, h3, h4, h5, h6, p {
    color: #FF0000;
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    margin: 0;
}

h1 {
    font-size: 128px;
    line-height: 0.8;
    padding-bottom: 30px;
}

h2 {
    font-size: 96px;
}

h3, p {
    font-size: 48px;
}

p {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1%;
}

.heading {
    flex-direction: column;
}

button {
    background-color: #F1C543;
   padding: 64px 198px;
    border: #F1C543;
    border-radius: 98px;
    color: #E0E031;
font-size: 36px;
}

button:hover {
    color: #FF0000;
    font-style: italic;
}

#progress {
    width: 100%;
    padding-top: 10px;
}

#loadBar {
    width: 5%;
    height: 20px;
    background-color: #FF0000;
}

#artwork-objectDate {
    font-size: 96px;
}

#artwork-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imageDiv {
    flex-direction: column;
    align-content: flex-end;
}

img {
    height: 300px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}
